body {
  background: $body-bg;

  font-family: $body-font-family;
  font-size: $body-font-size;
  line-height: $body-line-height;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;



  > main {
    width: 90%;
    min-width: 540px;
    max-width: 840px;
    margin: 0 auto;

    padding: $padding*2 0;
  }

  a {
    &:not(:hover) {
      text-decoration: none;
    }
  }
}

.clearfix {
  @include clearfix;
}