@mixin clearfix {
  content:"";
  display:block;
  clear:both;
}

@mixin full-width-bg($color) {
  background: $color;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-left: 50vw;
  padding-right: 50vw;
}