$body-font-size: 16px;
$body-font-family: 'Source Sans Pro', Arial, sans-serif;
$body-line-height: 1.6;

@mixin small-caps {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1 {
  color: $brand-secondary;
  font-size: 70px;
  margin-bottom: $padding;
  font-weight: 700;
  text-align: center;
}

h2 {
  color: $brand-secondary;
  font-size: 30px;
  font-weight: 700;
}

h3 {
  color: $brand-primary;
  font-size: 28px;
  font-weight: 700;
}