$body-font-size: 16px;
$body-font-family: 'Source Sans Pro', Arial, sans-serif;
$body-line-height: 1.6;

@mixin small-caps {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

// Links
a {
  color: $brand-tertiary;
  &:hover {
    color: $brand-tertiary-hover;
  }
}

nav.page {
  a {
    color: $brand-secondary;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    display: block;
  }
}

// Headers

h1 {
  color: $brand-primary;
  font-size: 70px;
  margin-top: 100px;
  margin-bottom: $padding;
  font-weight: 700;

  small {
    font-size: 32px;
    display: block;
  }
}

h2 {
  color: $brand-secondary;
  font-size: 30px;
  font-weight: 700;
}

h3 {
  color: $brand-primary;
  font-size: 28px;
  font-weight: 700;
}


// Lists

ul {
  display: inline-block;

  li {
    text-align: left;
  }
}