* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: #4BC0BA;
}

a:hover {
  color: #54D3CA;
}

nav.page a {
  color: #484472;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
  display: block;
}

h1 {
  color: #E9B74A;
  font-size: 70px;
  margin-top: 100px;
  margin-bottom: 20px;
  font-weight: 700;
}

h1 small {
  font-size: 32px;
  display: block;
}

h2 {
  color: #484472;
  font-size: 30px;
  font-weight: 700;
}

h3 {
  color: #E9B74A;
  font-size: 28px;
  font-weight: 700;
}

ul {
  display: inline-block;
}

ul li {
  text-align: left;
}

body {
  background: #fff;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
}

body > main {
  width: 90%;
  min-width: 480px;
  max-width: 840px;
  margin: 0 auto;
  padding: 0;
}

body a:not(:hover) {
  text-decoration: none;
}

.clearfix {
  content: "";
  display: block;
  clear: both;
}

rob-header > header {
  align-items: center;
  background: #484472;
  color: #fff;
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 0 20px;
}

rob-header > header a.rise-link {
  background: url(//platform.rise.xyz/images/rise-logo.0491ededcf.png) no-repeat;
  background-size: contain;
  display: block;
  height: 40px;
  width: 120px;
}

rob-header > header rob-header-greeting {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

rob-header > header nav a {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 10px;
}

body {
  text-align: center;
}

body p {
  padding: 10px;
}

section.welcome {
  margin-top: 40px;
}

section.welcome h1 {
  color: #E9B74A;
  font-size: 64px;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
}

section.welcome h1 small {
  font-size: 32px;
  display: block;
}

section.welcome .intro-blurb {
  margin: 20px 40px 60px;
}

section.welcome .wisam-vid-intro {
  color: #484472;
  font-size: 32px;
  font-weight: 600;
  font-style: italic;
  margin: 40px 0;
}

section.welcome .wisam-vid {
  width: 100%;
}

section.welcome .iframe-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

section.welcome .iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

section.timeline {
  margin-bottom: 120px;
  position: relative;
}

section.timeline .timeline-header {
  background: #E9B74A;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-left: 50vw;
  padding-right: 50vw;
  color: #fff;
  font-weight: 600;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

section.timeline .timeline-header h2 {
  font-size: 32px;
}

section.timeline .timeline-header h3 {
  font-size: 18px;
}

section.timeline section {
  margin-left: 0;
  margin-right: auto;
  padding: 0 40px 0 0;
  display: flex;
  flex-direction: column;
  margin: 0 0 -12px;
  position: relative;
  text-align: right;
  width: 50%;
}

section.timeline section .checklist {
  max-width: 300px;
}

section.timeline section h3, section.timeline section .checklist {
  margin-left: auto;
  margin-right: 0;
  width: 100%;
}

section.timeline section:before {
  display: block;
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 15px;
  right: -7.5px;
  background: #484472;
}

section.timeline section:after {
  display: block;
  content: '';
  position: absolute;
  border-left: 3px solid #E9B74A;
  width: 3px;
  right: -1.5px;
  top: 33px;
  bottom: 0;
}

section.timeline section h3 {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #fff;
  max-width: 300px;
  padding: 10px 20px;
  color: #484472;
  border: 1px solid #484472;
  border-radius: 3px;
  margin-bottom: 15px;
  position: relative;
  text-align: center;
}

section.timeline section h3:before {
  border-radius: 3px;
  display: block;
  content: '';
  position: absolute;
  height: 14px;
  width: 14px;
  background: #484472;
  right: -7px;
  top: 50%;
  margin-top: -7px;
  transform: rotate(45deg);
  z-index: -1;
}

section.timeline section h3:after {
  border-radius: 3px;
  display: block;
  content: '';
  position: absolute;
  height: 12px;
  width: 12px;
  background: #fff;
  right: -6px;
  top: 50%;
  margin-top: -6px;
  transform: rotate(45deg);
}

section.timeline section a {
  color: #E9B74A;
}

section.timeline section ul.checklist {
  list-style-type: none;
  text-align: left;
}

section.timeline section ul.checklist li {
  padding: 5px 0;
}

section.timeline section ul.checklist li input {
  margin-right: 8px;
}

section.timeline section ul.checklist li [marked] p {
  display: inline;
}

section.timeline section:nth-child(2n+0) {
  margin-right: 0;
  margin-left: auto;
  padding: 0 0 0 40px;
  text-align: left;
}

section.timeline section:nth-child(2n+0) h3, section.timeline section:nth-child(2n+0) .checklist {
  margin-left: 0;
  margin-right: auto;
}

section.timeline section:nth-child(2n+0):before {
  left: -7.5px;
  right: auto;
}

section.timeline section:nth-child(2n+0):after {
  left: -1.5px;
  right: auto;
}

section.timeline section:nth-child(2n+0) h3:before {
  left: -7px;
  right: auto;
}

section.timeline section:nth-child(2n+0) h3:after {
  left: -6px;
  right: auto;
}

section.timeline:after {
  display: block;
  content: '';
  position: absolute;
  border-left: 3px dashed #E9B74A;
  height: 40px;
  left: 50%;
  margin-left: -1.5px;
  bottom: -48px;
}

section.resources {
  background: #484472;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-left: 50vw;
  padding-right: 50vw;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: center;
}

section.resources h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

section.resources ul.resource-links {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

section.resources ul.resource-links > li {
  display: block;
  margin: 0 2vw;
  position: relative;
  width: 10vw;
}

section.resources ul.resource-links > li > a {
  color: #fff;
  display: block;
}

section.resources ul.resource-links > li > a .icon-box {
  border: 1px solid #7671ab;
  height: 10vw;
  margin-bottom: 10px;
}

.container {
  width: 100%;
}

nav.page {
  width: 20%;
  display: inline-block;
  border-right: 1px solid #ddd;
}

div.page {
  width: 79%;
  display: inline-block;
  vertical-align: top;
}
