body {
  text-align: center;
  p {
    padding: 10px;
  }
}

section.welcome {
  margin-top: $padding*2;

  h1 {
    color: $brand-primary;
    font-size: 64px;
    margin-bottom: $padding;
    font-weight: 700;

    text-align: center;

    small {
      font-size: 32px;
      display: block;
    }
  }

  .intro-blurb {
    margin: $padding $padding*2 $padding*3;
  }

  .wisam-vid-intro {
    color: $brand-secondary;
    font-size: 32px;
    font-weight: 600;
    font-style: italic;
    margin: $padding*2 0;
  }

  .wisam-vid {
    width: 100%;
  }
}

section.timeline {
  $tail-length: 40px;
  margin-bottom: $tail-length*3;
  position: relative;

  .timeline-header {
    @include full-width-bg($brand-primary);
    color: #fff;
    font-weight: 600;
    text-align: center;

    margin-top: $padding*3;
    margin-bottom: $padding*2;
    padding-top: $padding;
    padding-bottom: $padding;

    h2 {
      font-size: 32px;
    }

    h3 {
      font-size: 18px;
    }
  }

  section {
    $arrow-size: 12px;
    $bullet-offset: 8%;
    $bullet-size: 15px;
    $header-max-width: 300px;

    @mixin pull-left {
      margin-left: 0;
      margin-right: auto;
      padding: 0 $padding*2 0 0;

      .checklist {
        max-width: $header-max-width;
      }

      h3, .checklist {
        margin-left: auto;
        margin-right: 0;
        width: 100%;
      }
    }

    @mixin pull-right {
      margin-right: 0;
      margin-left: auto;
      padding: 0 0 0 $padding*2;
      text-align: left;

      h3, .checklist {
        margin-left: 0;
        margin-right: auto;
      }

      &:before {
        left: -$bullet-size/2;
        right: auto;
      }

      &:after {
        left: -1.5px;
        right: auto;
      }

      h3 {
        &:before {
          left: -($arrow-size+2)/2;
          right: auto;
        }
        &:after {
          left: -$arrow-size/2;
          right: auto;
        }
      }
    }

    @include pull-left;
    display: flex;
    flex-direction: column;
    margin: 0 0 -12px;
    position: relative;
    text-align: right;
    width: 50%;

    &:before {
      display: block;
      content: '';
      position: absolute;
      height: $bullet-size;
      width: $bullet-size;
      border-radius: 50%;
      top: 15px;
      right: -$bullet-size/2;
      background: $brand-secondary;
    }

    &:after {
      display: block;
      content: '';
      position: absolute;
      border-left: 3px solid $brand-primary;
      width: 3px;
      right: -1.5px;
      top: 33px;
      bottom: 0;
    }

    h3 {
      @include small-caps;
      background: #fff;
      max-width: $header-max-width;
      padding: 10px $padding;
      color: $brand-secondary;
      border: 1px solid $brand-secondary;
      border-radius: 3px;
      margin-bottom: 15px;
      position: relative;
      text-align: center;

      @mixin round-arrow($size, $color) {
        border-radius: 3px;
        display: block;
        content: '';
        position: absolute;
        height: $size;
        width: $size;
        background: $color;
        right: -$size/2;
        top: 50%;
        margin-top: -$size/2;
        transform: rotate(45deg);
      }

      &:before {
        @include round-arrow($arrow-size+2, $brand-secondary);
        z-index: -1;
      }

      &:after {
        @include round-arrow($arrow-size, #fff);
      }
    }

    a {
      color: $brand-primary;
    }

    ul.checklist {
      list-style-type: none;
      text-align: left;

      li {
        padding: 5px 0;

        &:before {
          content: '\2713';
          color: $brand-secondary;
          margin-right: 12px;
          display: inline-block;
        }
      }
    }

    &:nth-child(2n+0) {
      @include pull-right;
    }
  }

  &:after {
    display: block;
    content: '';
    position: absolute;
    border-left: 3px dashed $brand-primary;
    height: $tail-length;
    left: 50%;
    margin-left: -1px;
    bottom: -$tail-length - 8px;
  }
}

section.resources {
  @include full-width-bg($brand-secondary);
  color: #fff;
  padding-top: $padding*2;
  padding-bottom: $padding*3;
  text-align: center;

  h2 {
    font-size: 32px;
    margin-bottom: $padding*2;
  }

  ul.resource-links {
    display: flex;
    justify-content: center;
    list-style-type: none;

    > li {
      $width: 10vw;
      display: block;
      margin: 0 $width/5;
      position: relative;
      width: $width;

      > a {
        color: #fff;
        display: block;

        .icon-box {
          border: 1px solid lighten($brand-secondary, 20%);
          height: $width;
          margin-bottom: $padding/2;
        }
      }
    }
  }
}