<h1>
  <small>Welcome,</small>
  {{vm.newb.name}}!
</h1>

<div class="intro-blurb">
  Congratulations! You're about to join a dope team of talented dreamers and doers, and
  we're thrilled to have you. Your first 90 days at Rise will set the tone for your career at
  Rise. Here you'll find a plethora of useful resources to help you get to know the team and
  be successful and productive in your new role.
</div>

<h2 class="wisam-vid-intro">Here's a quick welcome from Wisam, our CEO:</h2>

<a href="https://www.youtube.com/watch?v=9NcPvmk4vfo">
  <img class="wisam-vid" src="assets/wisam.png">
</a>


<section class="timeline">
  <div class="timeline-header">
    <h2>Timeline</h2>
    <h3>Tuam venenatis vestibulum.</h3>
  </div>

  <section class="week-before">
    <h3>One week before</h3>
    <ul class="checklist">
      <li>Read all about <a ui-sref="team">your team</a></li>
      <li>Read all about our <a ui-sref="about">Core Values and Vision</a></li>
      <li>Take the <a href="//www.google.ca">Ice Breaker Quiz</a></li>
    </ul>
  </section>
  <section class="start-day">
    <h3>Start day</h3>
    <ul class="checklist">
      <li>Welcome and office tour</a></li>
      <li>Complete forms</li>
      <li>Access to your <a href="//www.google.ca">tools</a></li>
      <li>Meet your buddy</li>
    </ul>
  </section>
  <section class="one-week">
    <h3>One week</h3>
    <ul class="checklist">
      <li>Department introductions</li>
      <li>Team lunch</li>
      <li>Walk with Wisam</li>
    </ul>
  </section>
  <section class="one-month">
    <h3>One month</h3>
    <ul class="checklist">
      <li>One month check-in</li>
      <li>Team Member Story <span class="lite">Lite</span></li>
    </ul>
  </section>
  <section class="three-months">
    <h3>Three months</h3>
    <ul class="checklist">
      <li>Team Member Story</li>
    </ul>
  </section>
</section>