<section class="welcome">
  <h1>
    <small>Welcome,</small>
    {{vm.data.user.fullName || '[Revolutionary]'}}!
  </h1>

  <div class="intro-blurb">
    Congratulations! You're about to join a dope team of talented dreamers and doers, and
    we're thrilled to have you. Your first 90 days at Rise will set the tone for your career at
    Rise. Here you'll find a plethora of useful resources to help you get to know the team and
    be successful and productive in your new role.
  </div>

  <h2 class="wisam-vid-intro">Here's a quick welcome from Wisam, our CEO:</h2>

  <a href="https://www.youtube.com/watch?v=9NcPvmk4vfo">
    <img class="wisam-vid" src="assets/wisam.png">
  </a>
</section>

<section class="timeline">
  <rob-timeline></rob-timeline>
</section>

<section class="resources">
  <h2>Resources</h2>
  <ul class="resource-links">
    <li>
      <a href="www.google.ca">
        <div class="icon-box">
          <i class="icon-lexicon"></i>
        </div>
        <span class="label">Lexicon</span>
      </a>
    </li>
    <li>
      <a href="www.google.ca">
        <div class="icon-box">
          <i class="icon-tool-guide"></i>
        </div>
        <span class="label">Tool Guide</span>
      </a>
    </li>
    <li>
      <a href="www.google.ca">
        <div class="icon-box">
          <i class="icon-food-map"></i>
        </div>
        <span class="label">Food Map</span>
      </a>
    </li>
    <li>
      <a href="www.google.ca">
        <div class="icon-box">
          <i class="icon-feedback"></i>
        </div>
        <span class="label">Feedback</span>
      </a>
    </li>
  </ul>
</section>