<div class="timeline-header">
  <h2>Timeline</h2>
  <div class="intro-blurb">
    <p>
    They say that a journey of a thousand miles begins with a single step. Consider this timeline a map of your first steps, the ones that will slowly turn strangers into friends and take you from lone wolf to lifelong member of the Rise pack.
    </p>
    <p>
    As you work through the checklist and timeline, feel free to ask all the questions. Anything unclear? Redundant? Pedantic? Overly complicated? Let us know. Ask us why. Ask us how. It will make all of us better. 
    </p>
  </div>
</div>

<section ng-repeat="checklist in vm.data.checklists">
  <h3>{{checklist.name}}</h3>
  <ul class="checklist">
    <li ng-repeat="item in checklist.items">
      <label>
        <input type="checkbox"
               ng-model="item.done"
               ng-change="vm.onItemChecked(checklist.id, item)">
        <span marked="item.name"></span>
      </label>
    </li>
  </ul>
</section>