<div class="timeline-header">
  <h2>Timeline</h2>
  <div class="intro-blurb">
    <p>
    They say that a journey of a thousand miles begins with a single step. Consider this timeline a map of your first steps, the ones that will slowly turn strangers into friends and take you from lone wolf to lifelong member of the Rise pack.
    </p>
    <p>
    As you work through the checklist and timeline, feel free to ask all the questions. Anything unclear? Redundant? Pedantic? Overly complicated? Let us know. Ask us why. Ask us how. It will make all of us better. 
    </p>
  </div>
</div>

<section ng-repeat="checklist in vm.data.checklists">
  <h3>{{checklist.name}}</h3>
  <ul class="checklist">
    <li ng-repeat="item in checklist.items">
      <label>
        <input type="checkbox"
               ng-model="item.done"
               ng-change="vm.onItemChecked(">
        {{item.name}}
      </label>
    </li>
  </ul>
</section>

<!--<section class="week-before">-->
  <!--<h3>One week before</h3>-->
  <!--<ul class="checklist">-->
    <!--<li>Read all about <a ui-sref="team">your team</a></li>-->
    <!--<li>Read all about our <a ui-sref="about">Core Values and Vision</a></li>-->
    <!--<li>Take the <a href="//www.google.ca">Ice Breaker Quiz</a></li>-->
  <!--</ul>-->
<!--</section>-->
<!--<section class="start-day">-->
  <!--<h3>Start day</h3>-->
  <!--<ul class="checklist">-->
    <!--<li>Welcome and office tour</a></li>-->
    <!--<li>Complete forms</li>-->
    <!--<li>Access to your <a href="//www.google.ca">tools</a></li>-->
    <!--<li>Meet your buddy</li>-->
  <!--</ul>-->
<!--</section>-->
<!--<section class="one-week">-->
  <!--<h3>One week</h3>-->
  <!--<ul class="checklist">-->
    <!--<li>Department introductions</li>-->
    <!--<li>Team lunch</li>-->
    <!--<li>Walk with Wisam</li>-->
  <!--</ul>-->
<!--</section>-->
<!--<section class="one-month">-->
  <!--<h3>One month</h3>-->
  <!--<ul class="checklist">-->
    <!--<li>One month check-in</li>-->
    <!--<li>Team Member Story <span class="lite">Lite</span></li>-->
  <!--</ul>-->
<!--</section>-->
<!--<section class="three-months">-->
  <!--<h3>Three months</h3>-->
  <!--<ul class="checklist">-->
    <!--<li>Team Member Story</li>-->
  <!--</ul>-->
<!--</section>-->