#Core Values
![alt text](assets/corevalues-nosmalldreams.png "No Small Dreams")
##No small dreams
__Criteria:__ Am I making a positive difference on the world? How can I do this better?

__Tenets:__ We know that progress is not made by doing what has already been done, but by forgetting what is considered possible

Our goals are enormous. We’re revolutionizing the workplace, and we know that takes tremendous imagination, tenacity, collaboration, humility, and a healthy dissatisfaction with the status quo
We help each other build dreams into reality

__Go big, or go bigger. Your imagination is your only limit, and your team is your greatest gift.__


![alt text](assets/corevalues-ownership.png "Ownership")
##Ownership
__Criteria:__ Am I acting with the goals of the team in mind? Am I engaging with my work as though it were for myself?

__Tenets:__ We understand that trust and autonomy are essential to building a strong culture. We hire exceptional people, give them the resources they need, and show them the high-level impact of their actions.
We take responsibility for our mistakes.
We encourage people to share their opinions and create a safe space for honest feedback.

__Actions reverberate. Own them, and be the kind of person who would inspire you.__
