<h1> POLICIES </h1>

<div class="container">

  <nav class="page">
    <a href="">Work Schedule</a>
    <a href="">Dress Code</a>
    <a href="">Time Off Policies</a>
    <a href="">Pets</a>
  </nav>



  <div class="page">
    <section>
      <h2>WORK SCHEDULE</h2> 

      <p>Here at Rise we stand by the work-hard, play-hard attitude. All we care about is that you’re able to get all the things you want done, done. With that said, here are some typical work schedules for our diferent departments. Please note that if you’re trying to access our floor before 8:00AM or after 5:00PM, you’ll need your key card (Julie can hook you up with that).</p>
    </section>
    
    <section>
      <h2>WORK SCHEDULE</h2> 

      <p>Here at Rise we stand by the work-hard, play-hard attitude. All we care about is that you’re able to get all the things you want done, done. With that said, here are some typical work schedules for our diferent departments. Please note that if you’re trying to access our floor before 8:00AM or after 5:00PM, you’ll need your key card (Julie can hook you up with that).</p>
    </section>

  </div>

</div>